 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Domain</h2>
      <i class="devicon-apple-original colored"></i>  
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Native Mobile App development is the main domain. flexible in both android and iOS, can handle node,laravel etc. too if needed :)</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-swift-plain"></i>
      <img src="https://img.icons8.com/color/96/000000/kotlin.png"/>
      <i class="devicon-java-plain"></i>
      <p>Swift, Kotlin are my preferable languages. previously i was with java & objective c! in addition i can handle angular js,php and ...</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-intellij-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-laravel-plain colored"></i>
      <p>These are some tools i used to know. I didn't get many icons to place here :(, I'm too lazy to manage it.</p>
    </div>
</div>
