<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bmc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Buy Me a Coffee </h3>
    <ul>
      <li> Native iOS Development using Swift</li>
      <li> Native Android Development using Kotlin</li>
    </ul>
    <p>4 Apps developed for Buy me a coffee platform so far. 2 android and 2 ios applications</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/playspots.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Playspots </h3>
    <ul>
      <li>Software Design and architecture</li>
    </ul>
    <p>Provided complete architecture solution to the app and backend. lead a team of 5 developers and 1 tester</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
